
__pycache__/
*.py[cod]
*$py.class


/data/
/output_improved/
/annotated_frames/


.ipynb_checkpoints/


.env
.venv
venv/
ENV/


.DS_Store
Thumbs.db


*.log
*.json


!models/*.json


*test_report*.json 
resnet18_bird_classifier.pth
mobilenetv2_bird_classifier.pth